@import url('https://fonts.googleapi.com/css?family=Raleway:300,400');

/*Import font from file*/
@font-face {
    font-family: Georgia, 'Times New Roman', Times, serif;
    src: url() format();
    font-weight: normal;
    font-style: normal;
}

/*CSS for the whole html*/
*{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #777;
}

/*CSS for individual/multiple elements*/
html, body{
    margin: 0;
    padding: 0;
}

/*CSS for class element*/
.nav ul{
    margin: 0;
}

.nav li{
    display: inline;
}

.nav a{
    display: inline-block;
    padding: .5em;
    color: white;
    text-decoration: none;
}

.main-nav{
    text-align: center;
    font-size: 1.1em;
    font-weight: lighter;
    border-bottom: 1px solid rgba(255,255,255,.3);
}

.main-nav li{
    padding: 0 5%;
}

.nav a:hover{
    background-color: rgba(255,255,255,.3);
}

.main-header{
    background-color: rgba(0,0,0,.6);
    background-image: url("mots\ persona.png");
    background-blend-mode: multiply;
    background-size: cover;
    padding-bottom: 30px;
}

.band-name{
    text-align: center;
    margin: 0;
    font-size: 4em;
    font-family:Georgia, 'Times New Roman', Times, serif;
}